.card {
  background-color: var(--clr-md-blue);
  border-radius: 10px;
  width: 21.5rem;
  min-height: fit-content;
  margin-top: 7.5rem;
  padding: 2em 1.7em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}
.card__heading {
  color: var(--clr-neon);
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 3px;
  text-align: center;
}
.card__quote {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--clr-cyan);
  margin: 0.7em 0;
  text-align: center;
  padding: 0.3em 0;
}
.card__hr {
  margin-bottom: 2em;
}
.card__btn {
  position: absolute;
  background-image: url("../../assets/images/icon-dice.svg");
  background-repeat: no-repeat;
  background-position: center;
  outline: none;

  border-radius: 100px;
  border: none;
  background-color: var(--clr-neon);
  padding: 2.4em;
  bottom: -2rem;
}
.card__btn:hover {
  cursor: pointer;
  box-shadow: 0 0 2em 0.2em var(--clr-neon);
}

@media (min-width: 600px) {
  .card {
    width: 34rem;
    padding: 3em;
    margin: 0;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card__heading {
    font-size: 0.8rem;
  }
  .card__quote {
    font-size: 1.75rem;
  }
}
