<div class="card">
  <h1 class="card__heading">ADVICE #{{ advNo }}</h1>
  <p class="card__quote">
    <q>{{ advice }}</q>
  </p>
  <!-- <img class="card__hr" src="../../assets/images/pattern-divider-mobile.svg" /> -->
  <picture class="card__hr">
    <source
      srcset="../../assets/images/pattern-divider-desktop.svg"
      media="(min-width: 600px)"
    />
    <img src="../../assets/images/pattern-divider-mobile.svg" alt="" />
  </picture>
  <button class="card__btn" (click)="onClick()"></button>
</div>
