@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;800&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-cyan: hsl(193, 38%, 86%);
  --clr-neon: hsl(150, 100%, 66%);

  --clr-lg-blue: hsl(217, 19%, 38%);
  --clr-md-blue: hsl(217, 19%, 24%);
  --clr-dk-blue: hsl(218, 23%, 16%);
  --ff-man: "Manrope", sans-serif;
}

body {
  background-color: var(--clr-dk-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-man);
}
